@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: v.$blanco;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: v.$color2;
    font-family: v.$fuente1;
    text-transform: capitalize;
}

h1,
h2 {
    font-weight: 800;
}

h1 {
    color: v.$color1;
    font-size: v.$h1;
}

h2 {
    font-size: v.$h2;
}

h3 {
    font-size: v.$h3;
}

h4 {
    font-style: italic;
    font-size: v.$h4;
}

P {
    font-weight: 400;
    color: v.$gris;
    font-family: v.$fuente2;
    font-size: v.$p;
}

a {
    color: v.$color2;
    font-family: v.$fuente2;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: v.$p;
}

i {
    color: v.$color2;
    font-size: v.$h5;
}

.boton {
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: solid .2rem v.$color2;
    border-radius: .4rem;
    padding: 1.6rem 3.2rem;
    color: v.$color2;
    transition: all .4s ease-out;

    &::after {
        content: '';
        z-index: -1;
        top: 0;
        left: 50%;
        background-color: v.$color1;
        position: absolute;
        width: 0%;
        height: 100%;
        transition: all .4s ease-out;
    }

    &:hover {
        border: solid .2rem v.$color1;
        color: v.$blanco;

        &::after {
            left: 0;
            width: 100%;
        }
    }
}

hr {
    border: solid .1rem v.$color2;
}