$color1: #FF3301;
$color2: #00232C;
$gris: #4F5352;
$color4: #738DB2;
$blanco: #fffdf8;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,700&family=Space+Mono:wght@400;700&display=swap');

$fuente1: 'Josefin Sans', sans-serif;
$fuente2: 'Space Mono', monospace;

$h1: 7rem;
$h2: 4.6rem;
$h3: 3.13rem;
$h4: 2.4rem;
$h5: 2rem;
$p: 1.6rem;