@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem 3.2rem;
    background: v.$blanco;
    z-index: 10;

    .header__navbar {
        position: absolute;
        z-index: -1;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            padding: 0 .8rem;
            transition: all .5s ease;

            &:hover {
                color: v.$color1;
            }
        }
    }

    .header__social {
        i {
            margin: 0 .8rem;
            transition: all .5s ease;

            &:hover {
                color: v.$color1;
            }
        }
    }
}